[elasticsearch-{{ elastic_version }}]
name=Elasticsearch repository for {{ elastic_version }}.x packages
baseurl=http://packages.elastic.co/elasticsearch/{{ elastic_version }}/centos
gpgcheck=1
gpgkey=http://packages.elastic.co/GPG-KEY-elasticsearch
enabled=1